* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body.noscroll {
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* =========================================
Header
============================================ */

header {
  background: #a31860; 
  padding: 10px 15px;
  display: flex;
}

div.movie_details_box {
  flex-grow: 1;
  align-items: center;
}

h1.movie_title {
  margin: 0;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  padding-bottom: 10px;
}

span.movie_metadata_type {
  border: 1px solid #fff;
  padding: 0 5px;
  border-radius: 3px;
  margin-right: 5px;
}

span.movie_metadata {
  color: #fff;
  font-size: 0.8em;
}

.dropdown_box {
  position: relative;
  margin-right: 10px;
}

div.dots_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}


div.dot {
  background: #fff;
  height: 5px;
  width: 5px;
  margin: 2px;
  border-radius: 50%;
}

.dropdown_menu {
  background: #fff;
  position: absolute;
  right: 0;
  top: 60%;
  padding: 10px;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 200;
}

.dropdown_menu.open {
  opacity: 1;
  visibility: visible;
}

.dropdown_menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown_menu ul li {
  cursor: pointer;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown_menu ul li:hover {
  background: lightgray;
}

.fas.fa-share-alt {
  padding-right: 10px;
}

#feedback_icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* =========================================
Navigation
============================================ */

nav {
  background: #891250;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 100;
}

ul.tabs {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 20px 15px;
  position: relative;
}

#slide_line {
  position: absolute;
  bottom: 1px;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease;
}

li.tabs_item {
  color: #fff;
  text-transform: uppercase;
  margin: 0 20px;
  font-size: 0.9em;
  letter-spacing: 0.08em;
  position: relative;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

li.tabs_item > a {
  color: inherit;
  text-decoration: none;
}

li.tabs_item:first-child {
  margin-left: 0;
}

.visibleSinglePage.hide,
.visibleHomePage.hide {
  visibility: hidden;
  opacity: 0;
}



/* =========================================
POSTER GALLERY
============================================ */

#poster_gallery {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.poster {
  margin: 5px 3px;
  max-width: 200px;
  min-width: 120px;
}

.img-responsive {
  max-width: 100%;
  -webkit-box-shadow: 3px 10px 37px -18px rgba(0,0,0,0.54);
  -moz-box-shadow: 3px 10px 37px -18px rgba(0,0,0,0.54);
  box-shadow: 3px 10px 37px -18px rgba(0,0,0,0.54);
  border-radius: 5px;
}

::-webkit-scrollbar { 
    display: none; 
}


/* =========================================
MOVIE DETAILS CARD
============================================ */

.movie_details_card {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 0 10px 50px 10px;

}

.movie_ratings {
  display: flex;
  /* border-bottom: 1px solid lightgray; */
  flex-wrap: wrap;
}

.rating {
  min-width: 50%;
  padding: 0 10px;
  border-bottom: 0.5px solid lightgray;
  flex-grow: 1;
}

.rating:first-child {
  border-right: 1px solid lightgray;
}

.rating_score {
  margin-bottom: 0;
  font-size: 1.2em;
}

.rating_source {
  margin-top: 3px;
}

.rating_source > a {
  text-decoration: none;
}

.movie_google_data {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.movie_description {
  padding: 10px;
  font-size: 0.9em;
  border-bottom: 1px solid lightgray;
}

.movie_additional_details_switch {
  padding: 0 10px;
  text-align: center;
}

.additional_details_toggle {
  text-transform: uppercase;
  font-size: 0.8em;
  color: blue;
  font-weight: 700;
}





/* =========================================
POPULAR MOVIES
============================================ */

.popular_movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  max-width: 150px;
  margin: 10px;
  cursor: pointer;
}

/* =========================================
CONTENT TABS
============================================ */

#tab_one,
#tab_two,
#tab_three {
  display: none;
}

#tab_one.display_tab,
#tab_two.display_tab,
#tab_three.display_tab {
  display: unset;
}


/* =========================================
CAST TAB
============================================ */
#tab_three {
  position: relative;
}

#cast_single_page {
  position: fixed;
  width: 95vw;
  height: 0vh;
  background: #fff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
  transition: height 0.5s ease-out;
  border-radius: 10px;
  overflow: scroll;
}

#cast_single_page.show_cast {
  height: 98vh;
}

#close_page_btn,
.close_btn {
  position: absolute;
  top: 5%;
  right: 2%;
  cursor: pointer;
  z-index: 999;
  border: 2px solid teal;
  color: teal;
  padding: 10px 15px;
  font-size: 1.3em;
  border-radius: 50%;
}

#cast_page_head {
  position: relative;
}

.cast_header {
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.cast_profile_image {
  max-width: 250px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.image_box {
  max-width: 100%;
  max-height: 300px;
  overflow: hidden;
}

.image_box > img {
  max-width: 100%;
}

.cast_name {
  text-align: center;
  font-size: 0.8em !important;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.cast_cards {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  width: 100%;
  justify-content: center;
  position: relative;
}

.cast_biography {
  margin: 50vh 20px 20px;
  padding: 10px 20px 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cast_image_box {
  max-height: 150px;
  min-height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cast_card {
  max-width: 130px;
  min-width: 130px;
  margin: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cast_name {
  background: #fff;
  padding: 20px;
  margin-top: -20px;
}

.cast_image {
  max-width: 100%;
}

.cast_member_gallery {
  display: flex;
  overflow: scroll;
  margin: 10px 20px;
}

.cast_member_gallery .cast_card {
  max-width: 250px;
}

/* =========================================
SPINNER
============================================ */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* =========================================
SPINNER
============================================ */

.lightbox {
  position: fixed;
  top: -999px;
  visibility: hidden;
  left: 0;
  opacity: 0;
  width: 0;
  top: -999px;
  transition: all 0.3s ease-out;
}



.lightbox.open {
  width: 100vw;
  visibility: visible;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  min-height: 50vh;
  z-index: 500;
  top: 0;
}

.lightbox img {
  max-width: 100%;
}

.lightbox_image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}